<ion-header>
  <ion-toolbar color="primary" mode='ios'>
    <ion-buttons slot="start">
      <ion-back-button  color="light" routerLink='/' ></ion-back-button>
    </ion-buttons>
    <ion-title color="light">{{categoria}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content mode='ios' color="dark">
<app-categoria [Productos]='Productos' [Categoria]='categoria'></app-categoria>
</ion-content>
<ion-footer>
  <ion-button routerLink="/carrito" routerLinkActive="router-link-active"  expand="block">
    <ion-icon color="light"  name="cart-outline" slot="start"> </ion-icon>
    <ion-label  color="light" >Productos Selecconados</ion-label> 
  </ion-button>
</ion-footer>
