    .centrado{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
ion-img{
    background-color: rgba(0,0,0,0.8);
    filter:brightness(0.4);
}
h1{
    color: #fff;
    font-weight: bold;
    text-align: center;
}