<ion-header>
  <ion-toolbar color="primary" mode='ios'>
    <ion-title class="ion-text-capitalize" >Menú la estación</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-img src="assets/menu-1.jpg" width="100%" height="100%" ></ion-img>
  <ion-img src="assets/menu-2.jpg" width="100%" height="100%" ></ion-img>
  <ion-img src="assets/menu-3.jpg" width="100%" height="100%" ></ion-img>
  <ion-img src="assets/menu-4.jpg" width="100%" height="100%" ></ion-img>
  <ion-img src="assets/menu-5.jpg" width="100%" height="100%" ></ion-img>
  <div style="margin: 5%; text-align: center;">
  <label>Desarrollado por:</label>
 
  </div>
</ion-content>
