<ion-header>
  <ion-toolbar color="primary" mode='ios'>
    <ion-title>Administración</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <ion-searchbar placeholder="Buscar..." debounce='700' inputmode="text" (ionChange)='buscar($event)'></ion-searchbar>
  <ion-segment scrollable mode="md" *ngIf="!busqueda" color="primary" style="width: 100%;" value="Categorias"
    (ionChange)="CambioTipo($event)">
    <ion-segment-button mode="md" value="Opcion" style="width: 50%;" *ngFor="let tipo of tipos" [value]='tipo'>
      <ion-label text-capitalize color="primary">{{tipo}}</ion-label>
    </ion-segment-button>
  </ion-segment>
  <!--Categorias-->
  <div *ngIf="cambiar && !busqueda">
    <ion-button expand="block" routerLink='../agregar-categoria'>
      Añadir Categoria
    </ion-button>
    <ion-grid fixed>
      <ion-row>
        <ion-col size="12" size-lg="3" size-md="4" size-sm="6" *ngFor="let categoria of Categorias">
          <ion-card>
            <ion-img class="categoria" [routerLink]="['../listado-categoria',categoria.nombre]"
              [src]="categoria.imagen"></ion-img>
            <ion-label class="centrado">
              <h1>{{categoria.nombre}}</h1>
            </ion-label>
          </ion-card>
          <ion-item color="dark">
            <ion-label class="ion-text-end text-small">
              <ion-button (click)="editarCategoria(categoria.id)" slot="start" expand="block">Editar</ion-button>
              <ion-button (click)="eliminarCategoria(categoria.id)" color="danger" slot="end" expand="block">Eliminar
              </ion-button>

            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <!--Fin categorias-->
  <!--Todo-->
  <div *ngIf="!cambiar && !busqueda">
    <ion-button expand="block" routerLink='../agregar-producto'>
      Agregar Producto
    </ion-button>
    <ion-list *ngFor="let producto of productos " color="dark">
      <ion-item color="dark">
        <ion-img class="mini" [src]="producto.imagen"></ion-img>
        <ion-label class="ion-text-end text-small">
          <h2>Producto: {{producto.nombre}}</h2>
          <h3>Descripción: {{producto.descripcion}}</h3>
          <h3>Precio: ${{producto.precio}}</h3>
          <ion-button (click)="editarProducto(producto.id)"  slot="end">Editar</ion-button>
          <ion-button (click)="eliminarProducto(producto.id)" color="danger" slot="end">Eliminar</ion-button>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
  <!--Fin Todo-->
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button (click)="cerrarSesion()" expand="block" color="danger">
      Cerrar Sesión
    </ion-button>
  </ion-toolbar>
</ion-footer>