
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button class="backbtn" routerLink="/" routerDirection="back">
        <ion-icon name="arrow-back-outline" color="black"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title mode='ios'> PROMOCIONES</ion-title>
  </ion-toolbar>
</ion-header>
  
<ion-content  class="ion-padding">

<div class="product-slider ion-padding">
  <ion-row >
      <ion-col class="ion-text-left" size="6" size-lg="3" size-md="4" size-sm="6"   (click)="mostrarModal(producto)"*ngFor="let producto of promociones" >
        <img style="border-radius: 10px;height:200px;" src="{{ producto.imagen }}" /> 
        <p>$<span style=" text-decoration: line-through; color: darkgrey;">  &nbsp;&nbsp;&nbsp;${{producto.precio}}  </span>
          &nbsp;&nbsp;&nbsp;<span> ${{producto.preciop  }} </span></p>
        <h6>{{ producto.nombre }}</h6>
    </ion-col>
  </ion-row>
</div>
</ion-content>
<ion-footer >
  <ion-toolbar>
    <ion-button routerLink="/carrito" routerLinkActive="router-link-active" expand="block">
      <ion-icon color="light" name="cart-outline" slot="start"> </ion-icon>
      <ion-label color="light">Productos Seleccionados</ion-label>
    </ion-button>
  </ion-toolbar>
</ion-footer>