<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button class="backbtn" routerLink="/" routerDirection="back">
        <ion-icon name="arrow-back-outline" color="black"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title mode='ios'> CARRITO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content   mode='ios' color="dark"> 
  <div class="cart-items">
    <ion-card mode="ios" *ngFor="let producto of productos ; let i=index">
      <ion-card-content>
        <div class="item-img">
          <img src="{{producto.imagen}}" />
        </div>
       
        <div class="item-info">
          <p>Nombre: {{producto.nombre}}</p> 
          
          <p>Descripción: {{producto.descripcion}}</p>
          <p>Precio: ${{producto.precio}}</p>

          <div class="qty-selector" style="margin-bottom: 10px;">
            <ion-button fill="clear" (click)="calcular(i, -1)">-</ion-button>
            <ion-label>{{producto.cantidad}}</ion-label>
            <ion-button fill="clear" (click)="calcular(i, +1)">+</ion-button>
            <ion-button style="margin-left: 25px;" (click)="eliminar(i)" expand="block" fill="clear" slot="icon-only">
              <ion-icon slot="end" name="trash" color="danger"></ion-icon>
            </ion-button>
           
          </div>
          <ion-label style="margin-top: 10px;"> <p> Total: ${{producto.total}}</p></ion-label>
        
        </div>
      </ion-card-content>
    </ion-card>
  </div>
  <ion-item color="dark"  *ngIf="finalizar">
    <ion-label class="ion-text-end text-small"><h2>Delivery: $2</h2></ion-label>
  </ion-item>
  <ion-item color="dark"  *ngIf="finalizar">
    <ion-label class="ion-text-end text-small"><h2>Total: ${{total}}</h2></ion-label>
  </ion-item>
  <ion-label style="text-align: center;" color="danger"><h1 *ngIf="!finalizar">No hay productos seleccionados</h1></ion-label>

<ion-button routerLink='/' routerLinkActive="router-link-active" color="medium" expand="block" >
  Agregar más productos

</ion-button>
</ion-content>
<ion-footer>
  <ion-toolbar>
  <ion-button routerLink='/finalizar' *ngIf="finalizar" color="success"  expand="block" >
    Finalizar Compra
  </ion-button>
  </ion-toolbar>
</ion-footer>