<ion-header>
  <ion-toolbar mode='ios' color="primary" style="text-align: center;">
    <ion-title class="ion-text-capitalize" >Detalle del  producto</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content color="dark" class="ion-padding" mode='ios'>
 
 

       <ion-img [src]="producto.imagen"></ion-img>
       <br>
    <label>   Producto: {{producto.nombre}}</label>
        <br>
        <br>
      <label> Descripción: {{producto.descripcion}}</label>
        <br>
        <br>
      <label>   Precio : {{producto.precio}}</label>
        <br>
        <br>
        Cantidad:<ion-button (click)="calcular('-')">-</ion-button> <label> {{producto.cantidad}} </label> <ion-button (click)="calcular('+')">+</ion-button>
        <br>
        <br>
        <label >Total: {{producto.total}}</label>
        <br>
        <br>
    
       <ion-button  expand="block"   (click)="continuarCompra(producto)" >
        <ion-icon name="albums-outline" slot="start"></ion-icon>
        Agregar más productos
      </ion-button>
      <ion-button  expand="block"  (click)="mostarProductosSeleccionados(producto)">
        <ion-icon name="cart-outline" slot="start"> </ion-icon>
        Ver carrito
      </ion-button>
      <ion-button  expand="block"  (click)="salir()" color="danger">
        <ion-icon name="close-outline" slot="start" ></ion-icon>
          Cancelar
        </ion-button>
</ion-content>

