/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */
 @import '~ngx-toastr/toastr';
/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";



ion-alert {
    --background: var(--ion-color-dark) !important;
    --ion-text-color: black;

    button {
        color: black !important;
        font-size: 20px !important;
    }
    .alert-message {
        color: black;
    }
}

.product-slider {
    .swiper-pagination {
      text-align: left;
      padding-left: 20px;
  
      .swiper-pagination-bullet {
        background: #ffffff;
        opacity: 1;
      }
  
      .swiper-pagination-bullet-active {
        background: var(--ion-color-primary);
      }
    }
  }
  ion-content,ion-toolbar,ion-footer {
     --background-color: #92949c;
      
  }
  .contenedor-spinner{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}